*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.redes{
    font-size: 30px;
    color: #fff;
}
.masBusk2{
    text-decoration: none;
}

.custom-confirm-button {
    background-color: rgb(238, 29, 29); 
    }
